<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="login-body">
    <div class="container">
        <h1 class="title">CEF BACKEND</h1>
        <form action="/admin/login" method="post">
            <div class="form-input">
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="form-input">
                <input type="text" name="password" placeholder="password">
            </div>

            <button class="button">Log In</button>
        </form>
    </div>
    {{!-- <script src="/javascript/script.js"></script> --}}
</body>
</html>