
header{
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #FBC638;
    margin-top: -50px;
  display: flex;
    color: #6225E6;
    box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
  }
  
  header .h1{
    align-self: center;
    
  }
  
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}